@{
    ViewBag.Title = "";
}

<div id="giverContainer" class="col-md-6 col-center">
    <div class="rightBorder leftBorder">
        <h1>Give</h1>
        <h2>Connecting the Community</h2>
    </div>
    </div>
<div class="col-md-12">
    <p id="mainContainer">Give has one goal. And that it to easily connect people in need, with people who are able to Give. We live in a world
    where many people are living by the skin of their teeth, trying to provide for themselves and their family. Give provides
    a personal connection that allows people of all walks of life to reach out for help, or to Give help.
    <br />
    <img src="GiveBlocks.jpg" width="300" height="150" alt="Give Blocks"/></p>
</div>
