@model Give.Models.Giver

@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1 id="jumbotron"></h1>
    </div>*@

<div id="mainContainer" class="row">
    <div class="col-md-3">
        <h2>Getting Started</h2>
        <p>
            Whether you are a person or family in need, or have things to give, register today and start making
            the world a better place.
        </p>
        <img src="EarthHeart.jpg" width="250" height="250" alt="EarthHeart" />
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-6">
        <h2>Make a Difference</h2>
        <img src="PeopleSmiling.jpg" width="500" height="300" alt="PeopleSmiling" />
        <p>
            Give allows direct donations of items that local community members are in need of. Become a recipient or
            a donor, and take part of the largest people-helping-people community.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-3">
        <h2>Food for the Soul</h2>
        <p>
            Giving enriches our lives. Knowing who you give to, making a personal connection, and seeing the hope and happiness
            that it brings to those in need, is what makes Give different.
        </p>
        <img src="hugging.jpg" width="250" height="175" alt="KidsHugging" />
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>

