@model Give.Models.Recipient

@{
    ViewBag.Title = "Home Page";
}

<div id="giverContainer" class="row">
    <div class="col-md-3 leftBorder rightBorder">
        <p><a> @Html.ActionLink("Post Item Request", "Create", "ItemRequests", null, new { @class = "btn btn-secondary btn-xlg" }) </a></p>
        <p>
            Looking for a specific item for yourself or your family? Just post a request for it, and wait for a Giver to reach out to you!
        </p>
    </div>
    <div class="col-md-6 rightBorder ">
        <p><a> @Html.ActionLink("Update Your Profile", "Profile", "Recipient", null, new { @class = "btn btn-secondary btn-xlg" }) </a></p>
        <p>
            Your profile is what Giver's will see when they search for someone in need! Add pictures of you or your family,
            share a little bit about yourself. Your item requests will be listed under your profile as well. So, if someone 
            views you page, they can contact you if they are able to Give an item you're in need of!
        </p>
    </div>
    <div class="col-md-3 rightBorder">
        <p><a> @Html.ActionLink("Search By Items", "SearchBoard", "GiveBoard", null, new { @class = "btn btn-secondary btn-xlg" }) </a></p>
        <p>
            Search through our database of posted items! See an item that you need? Just click on the item to be redirected
            to the Giver's profile.
        </p>
    </div>
</div>
<div id="secondaryContainer" class="row">
    <div class="col-md-12">
        <strong><h2 class="secondaryParagraph">Giving feels GOOD! Here are some of our success stories!</h2></strong>
        <div>
            <div class="row">
                <div class="col-md-5">
                    <img src="SuccessFam1.jpg" width="250" height="180" alt="Recipient" />
                </div>
                <div class="col-md-7 col-md-push-2 secondaryParagraph">
                    <p>
                        "We are so greatful to our Giver! We have been down on our luck for years, and when we signed up with Give, we
                        were so happy to see that there are people in our community who are willing to help! We received a couch and some
                        clothing for our daughters. Extremely happy there are still good people in this world!" -the Miller family
                    </p>
                </div>
            </div>
            <div class="row topBorder">
                <div class="col-md-7 col-md-push-2 secondaryParagraph">
                    <p>
                        "With 5 kids under the age of 7, we have a full house! We try our best to provide for our family, and are
                        thankful that we were able to connect with a number of Givers in our area. From toilet paper, to school supplies,
                        to a microwave- we have been overwhelmed with the amount of help our community has given to our family!" -the Parker family
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="SuccessFam2.jpg" width="280" height="200" alt="Recipient" />
                </div>
            </div>
            <div class="row topBorder">
                <div class="col-md-5">
                    <img src="SuccessFam3.jpg" width="250" height="180" alt="Recipient" />
                </div>
                <div class="col-md-7 col-md-push-2 secondaryParagraph">
                    <p>
                        "As a single mother, and full time student, it's sometimes hard to feel like you can't give your kids everything
                        they deserve. I'm getting my education so I can provide the best life for my son. Give has helped me through a
                        tough time in my life. Receiving help from the Givers on this site has allowed me to focus on school, while giving my
                        small family what we need. From diapers, to wipes, to a crib for my son... Creating a Give profile was the best decision
                        I could have made. I know now that there are good people out there." -Marie and baby Parker
                    </p>
                </div>
            </div>
            <div class="row topBorder">
                <strong><p>Click<a>@Html.ActionLink("HERE", "SuccessStories", "Home", null, new { @class = "btn-secondary btn-sm" }) </a> to view more success stories!&#x2765</p></strong>
            </div>
        </div>
    </div>
</div>
