@model Give.Models.Giver

@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1 id="jumbotron"></h1>
    </div>*@

<div id="giverContainer" class="row">
    <div class="col-md-3 rightBorder">
        <h2>Post Items to Give</h2>
        <p>
            Looking to donate an item? Click here to post item to the Give Board. Recipients can contact you if they need what you have!
        </p>
        @*<img src="" width="250" height="250" alt="" />*@
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-6 rightBorder">
        <h2>Find someone to Give to today</h2>
        @*<img src="" width="500" height="300" alt="" />*@
        <p>
            Look through our Recipient's profiles, and see if there's someone near you to donate! You can learn more about the
            person or family you're giving to, view what items they're in need of. Have something someone needs? Just send them
            a message to set up a Give!
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-3">
        <h2>Search By Items </h2>
        <p>
            Search through our database of needed items! See an item that you can Give? Just click on the item to be redirected
            to the Recipient's profile.
        </p>
        @*<img src="" width="250" height="175" alt="" />*@
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>
<div id="secondaryContainer" class="row">
    <div class="col-md-9 rightBorder">
        <h2 class="secondaryParagraph">Giving feels GOOD! Here are some of our success stories!</h2>
        <div>
      <div class="row">
        <div class="col-md-5">          
            <img src="SuccessFam1.jpg" width="250" height="180" alt="Recipient" />            
        </div>
            <div class="col-md-7 col-md-push-2 secondaryParagraph">               
                <p>"We are so greatful to our Giver! We have been down on our luck for years, and when we signed up with Give, we
                were so happy to see that there are people in our community who are willing to help! We received a couch and some
                clothing for our daughters. Extremely happy there are still good people in this world!" -the Miller family</p>            
            </div>
      </div>
            <div class="row topBorder">             
                <div class="col-md-7 col-md-push-2 secondaryParagraph">
                    <p>"With 5 kids under the age of 7, we have a full house! We try our best to provide for our family, and are
                    thankful that we were able to connect with a number of Givers in our area. From toilet paper, to school supplies,
                    to a microwave- we have been overwhelmed with the amount of help our community has given to our family!" -the Parker family</p>
                </div>
                <div class="col-md-5">
                    <img src="SuccessFam2.jpg" width="280" height="200" alt="Recipient" />
                </div>
            </div>
            <div class="row topBorder">
                <div class="col-md-5">
                    <img src="SuccessFam3.jpg" width="250" height="180" alt="Recipient" />
                </div>
                <div class="col-md-7 col-md-push-2 secondaryParagraph">
                    <p>"As a single mother, and full time student, it's sometimes hard to feel like you can't give your kids everything
                    they deserve. I'm getting my education so I can provide the best life for my son. Give has helped me through a
                    tough time in my life. Receiving help from the Givers on this site has allowed me to focus on school, while giving my
                    small family what we need. From diapers, to wipes, to a crib for my son... Creating a Give profile was the best decision
                    I could have made. I know now that there are good people out there." -Marie and baby Parker</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="secondaryParagraph">Our Featured Recipients</h2>
        <img src="family.jpeg" width="253" height="160" alt="featured person" />
        <p class="secondaryParagraph">Meet the Gomez family! Louise is a mother of three darling children, and recently lost her home to a tragic house fire. Click on her profile, and
        see how you can help her family.</p>
        <img src="featuredFam2.jpg" width="253" height="190" alt="featured person" />
        <p class="secondaryParagraph">
            Meet the Jacksons! Amber is a hard working mother of four children. Her youngest, Lizze, has recently undergone
            medical treatment and could use some support from her community! Visit her profile to learn more and see if you
            have anything to Give.
        </p>
    </div>
</div>
